*{
    margin: 0%;
    padding: 0%;

}
html,body{
    height: 100%;
    width: 100%;  
    border-color: blue;
    

}
#main{
    height: 100%;
    width: 100%;  
    border-color: rgb(224, 32, 173);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans';

}
h1{
    font-weight: normal;
}
.shape{
    margin-top: 10px;
    margin-left: 10px;
    height: 200px;
    width: 200px;  
    border-color: rgb(235, 13, 13);
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#square:hover{
    background-color: red;
    
}
#circle{
    
    border-radius: 50%;
}
#circle:hover{
    
background-color: green;
}
#diamond{
    
    rotate: 45deg;
    margin-top: 50px;
    
}
#diamond:hover{
    background-color: blue;
}
#diamond h1{
    rotate: -45deg;
}