*{
    margin: 0%;
    padding: 0%;

}
html,body{
    height: 100%;
    width: 100%;  
    border-color: blue;
    
}
#main{
    height: 100%;
    width: 100%;
    /* display: flex;
 justify-content: center;
 align-items: center; */
   
}
.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 300px;
    width: 220px;
    border: 1px solid salmon;
    border-radius: 20px;
    overflow: hidden;
}
#c1{
    z-index: 10;
    
}
#c2{
    z-index: 9;
    rotate: -7deg;
    
}
#c3{
    rotate: -14deg;
    z-index: 8;
    
}
#c4{
 rotate: -21deg; 
 z-index: 7; 
 
}
#c1:hover{
    z-index: 11;
   
}
#c2:hover{
    z-index: 11;
    
}
#c3:hover{
    
    z-index: 11;
   
}
#c4:hover{
 
 z-index: 11; 
 
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
