*{
  margin: 0%;
  padding: 0%;
}
html,body{
height: 100%;
width: 100%;
}
body{
    padding-top: 80px;
}
#main{
    height: 100%;
    width: 100%;
    background-color: cadetblue;
   
}
#header{
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
     display: flex;
     align-items: center;
     justify-content: center;
     z-index: 100;

}
#fakeheader{
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
 background-color: rgb(255, 255, 255);
 z-index: -1;    
}
.texts{
    margin-left: 20px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(15, 184, 246);
    display: flex;
}
.texts:hover{
    cursor: pointer;
    color: rgb(67, 75, 182);
}

#contactdetails{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(195, 49, 49);
    
}

#login{
    margin-left: 30px;
  display: flex;
    font-size: 20px;
}
.icon{
    margin-left: 20px;
    font-size: 25px;
    color: rgb(146, 150, 213);
}
.icon:hover{
    cursor: pointer;
    margin: 20px 10px;
    color: rgb(164, 200, 233);
}
#login{
    margin-left: 50px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(48, 103, 161);
    
    padding: 8px;
}
#login:hover{
    border-radius: 50%;
    background-color: rgb(214, 213, 225);
}
#id{
    margin-left: 50px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(14, 88, 4);
    padding: 8px;
}
#id:hover{
    cursor: pointer;
    background-color: rgb(83, 159, 217);
}
.icon:hover{
    border-radius: 100%;
background-color: rgb(72, 124, 176);
}


#logo{
    height: 70%;
    margin-left: 10px;}
#logo img{
    height: 100%;
    width: 100%;
  object-fit: cover;
}
#pg1{
    height:90vh;
    width: 100%;
    background-color: rgb(89, 143, 213);
}

#up{
    height: 10vh;
    width: 100%;
    background-color: rgb(1, 1, 81);
    font-size: larger;
    font-weight: bold;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#up u{
    margin-left: 10px;
    
}
#up u:hover{
    color: yellowgreen;
    cursor: pointer;
}


#p1{
    height: 68vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    display: flex;
}
#b1{
    height:90%;
    width: 48%;
    margin: 25px;
    background-color: rgb(255, 255, 255);
    float: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: black;
    padding: 10px;

}
#b2{
    height: 90%;
    width: 48%;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    float: left;
    padding: 10px;
}
#j{
    display: flex;
    justify-content: center;
    align-items: center;
}

#j1{
    text-align: center;
    width: 22%;
    padding: 10px 20px;
    margin: 25px;
    color: rgb(0, 0, 0);
    background-color: aqua;
    border: 1px solid blue;
    border-radius: 5px;

}
#b1 h1{
    font-weight: 800;
    color: rgb(0, 0, 0);
    font-size: 60px;
    margin: 20px;

}
#b1 h4{
    font-weight:lighter;
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin: 20px;

}

#j1:hover{
    background-color: blue;
    color: white;
}
#j2{
    text-align: center;
    width:22%;
    padding: 10px 20px;
    margin: 25px;
    color: rgb(0, 0, 0);
    background-color: aqua;
    border: 1px solid blue;
     border-radius: 5px;

}
#j2:hover{
    background-color: blue;
    color: white;
}
#p3{
    height: 12vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-size: xx-large;
    font-weight: 800;
    color: rgb(37, 7, 136);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#b2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#pg2{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    
}
#c1{
    margin: 10px;
    margin-left: 30px;
    height: 60vh;
    width: 22%;
    background-color: rgb(234, 141, 2);
    border-radius: 5%;
    
}
#c2{
    margin: 10px; margin-left: 30px;
    height: 60vh;
    width: 22%;
    background-color: rgb(234, 141, 2);
     border-radius: 5%;
}
#c3{
    margin: 10px; margin-left: 30px;
    height: 60vh;
    width: 22%;
    background-color: rgb(234, 141, 2);
     border-radius: 5%;
}
#c4{
    margin: 10px; margin-left: 30px;
    height: 60vh;
    width: 22%;
    background-color: rgb(234, 141, 2);
     border-radius: 5%;
}
#i{
    height: 50%;
    width: 100%;
    background-color: rgb(214, 214, 15);
    object-fit: cover;
    object-position: center;
}
#img{
    /* object-fit: cover;
    object-position: center;
    object-position: 50px;
     */
}
#id img{
 object-fit:10%;
    object-position: 5vh;
    object-position: 50px;
}